.btn-regular {
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  color: #fff;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1DA1F2;
  cursor: pointer;
}

.btn-regular-error {
  background-color: #FD6B68;
}