.update-screen-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .update-screen {
    width: 50%;
    height: fit-content;
    background-color: #F5F8FA;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg:hover {
      cursor: pointer;
    }

    .update-screen-inputarea {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}